body { 
    font-family: Arial, sans-serif; 
    text-align: center; 
    margin-top: 150px; 
    background-image: url(/css/images/lightgreen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
input { 
    margin: 5px; 
    padding: 8px; 
    font-size: 15px;
    border: none;
    border-bottom: solid 1px;
    }
button { 
    padding-top: 10px;
    padding: 8px 15px; 
    border-style: solid 1px;
    border-color: rgb(82, 187, 147);
    border-radius: 10px;
    }   
button:hover{
    background-color: rgb(124, 233, 179);
}
.Layout {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    width: 300px;
    float: center;
    margin: 100px auto;
}