html, body {
  height: 100%;
  margin: 0; /* Removes default browser margin */
}     
body {
  background-image: url(images/lightgreen.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
h1{
    text-align: center;
    padding-top: 3px;
}
table {
  border-collapse: collapse;
  margin: 20px auto; /* centers the table */
  width: 80%;
  text-align: center;
}

td {
  border: 1px solid black;
  padding: 20px;
  background-color: none; /* gray boxes */
}

.logo {
  text-align: left;
  font-weight: bold;
  background-color: none;
}